body {
  color: white;
}

.borads_table {
  tr:hover {
    cursor: pointer;
  }
}
.boards_linkBox {
  a {
    margin: 0 8px;
  }
}
.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}

.container h1 {
  color: white;
  font-size: 3rem;
}

.form-group label {
  color: white;
}